.table {
  display: block;
  --font-size: 1.3rem;

  max-height: 80vh;
  overflow: auto;

  background-color: rgb(248, 248, 248);
  border: rgb(135, 134, 134) solid 1px;
  border-radius: 0.3rem;

  font-size: var(--font-size);
}

.table__head {
  font-weight: 600;
  cursor: pointer;
}

/* table cell style */
.table__cell {
  padding-inline: 0.5rem;
  vertical-align: middle;
  text-align: start;
  white-space: nowrap;
  text-overflow: clip;
}

.table__country-cell {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: minmax(35px, 30%) 1fr;
}

.table__cell > svg {
  width: var(--font-size);
}
