.search {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;

  padding-block: 1rem;
}

.search__section-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem;

  font-size: 1.5rem;
  font-weight: 500;
}
